.toast {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  padding: 10px 16px;

  border-radius: 12px;
  background-color: #efefef;
  border: 1.5px solid var(--primary-text);

  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text);
}
