.stepmodal {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepmodal__background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.stepmodal__container {
  z-index: 1;
  width: 100%;
  max-width: 500px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--primary-background);
  border-radius: 14px;
}

.stepmodal__input {
  height: 150px;
  width: 100%;
  padding: 14px 14px;
  resize: none;

  background-color: var(--primary-background);
  border: none;
  outline: 1.5px solid var(--primary-text);
  border-radius: 14px;

  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text);
}

.stepmodal__input:focus {
  outline: 1.5px solid var(--primary-highlight);
}

.stepmodal__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text);
  font-family: 'Roboto';
}

.stepmodal__add {
  margin-left: auto;
  margin-top: 4px;
  padding: 4px 10px;

  background-color: var(--primary-background);
  border: 1.5px solid var(--primary-text);
  border-radius: 14px;

  font-size: 16px;

  cursor: pointer;
}
