.spinner {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid #ffe5a7;
  border-radius: 50%;
  border-top-color: var(--primary-highlight);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
